[Unit]
Description=Frame Advanced Settings native dashboard
After=steamvr.service
PartOf=steamvr.service

[Service]
Type=simple
ExecStart=%h/.local/share/frame-advanced-settings/frame-advanced-settings --background
ExecReload=/usr/bin/touch %h/.local/share/frame-advanced-settings/show-dashboard
Restart=no
TimeoutStopSec=5
SuccessExitStatus=3

[Install]
WantedBy=steamvr.service
